IFTT-FB
[{"id":"88713eb5.8bd33","type":"ifttt out","z":"43e9535f.87b9fc","eventName":"AswinTest","key":"80c39b17.009948","x":451.0000305175781,"y":191.18188190460205,"wires":[]},{"id":"8bb8b2c9.f5efe","type":"inject","z":"43e9535f.87b9fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":199.09090662002563,"wires":[["9f1a433a.0882c"]]},{"id":"9f1a433a.0882c","type":"function","z":"43e9535f.87b9fc","name":"","func":"var time = {payload : msg.payload};\nmsg.payload = {\"value1\": time };\nreturn msg;","outputs":1,"noerr":0,"x":279.99998474121094,"y":193.54545783996582,"wires":[["88713eb5.8bd33","5298888d.224d88"]]},{"id":"5298888d.224d88","type":"ifttt out","z":"43e9535f.87b9fc","eventName":"AswinFB","key":"80c39b17.009948","x":450.0000343322754,"y":227.00002002716064,"wires":[]},{"id":"35d099f1.6e9886","type":"camerapi-takephoto","z":"43e9535f.87b9fc","filemode":"1","filename":"photo1.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"8","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"picture1","x":256.99998474121094,"y":492,"wires":[["3e89e02c.09236"]]},{"id":"e917c31c.d6abd","type":"ui_button","z":"43e9535f.87b9fc","name":"button1","group":"21b61f7.af4d5e","order":1,"width":0,"height":0,"passthru":false,"label":"Facebook Share","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":99.99999618530273,"y":484.4545478820801,"wires":[["35d099f1.6e9886"]]},{"id":"a3a834ff.3a5858","type":"ifttt out","z":"43e9535f.87b9fc","eventName":"AswinPicture","key":"80c39b17.009948","x":649.9999961853027,"y":487.09095764160156,"wires":[]},{"id":"22bbd0d0.e548b","type":"inject","z":"43e9535f.87b9fc","name":"","topic":"","payload":"true","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136.9999885559082,"y":385.09092712402344,"wires":[["35d099f1.6e9886"]]},{"id":"29aaf752.48fcf8","type":"ui_template","z":"43e9535f.87b9fc","group":"21b61f7.af4d5e","name":"photo","order":4,"width":0,"height":0,"format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo2.jpg',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n<div >\n <img src=\"/photo2.jpg\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":146.00008010864258,"y":590.7273654937744,"wires":[["16917f83.aa1e6"]]},{"id":"d23c2db2.87e33","type":"mqtt in","z":"43e9535f.87b9fc","name":"","topic":"Temp","qos":"2","broker":"91dcd821.1a2f98","x":703.9999961853027,"y":157.0909194946289,"wires":[["7dd26570.c4555c"]]},{"id":"17cf39d9.9b6e46","type":"mqtt in","z":"43e9535f.87b9fc","name":"","topic":"Hmd","qos":"2","broker":"91dcd821.1a2f98","x":710.9999885559082,"y":282.0908889770508,"wires":[["56f8467a.736738"]]},{"id":"7dd26570.c4555c","type":"ui_chart","z":"43e9535f.87b9fc","name":"tempChart","group":"7695d2a.55f112c","order":2,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940.0000038146973,"y":155,"wires":[[],[]]},{"id":"56f8467a.736738","type":"ui_chart","z":"43e9535f.87b9fc","name":"HumidityChart","group":"7695d2a.55f112c","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":949.0000038146973,"y":299.00001335144043,"wires":[[],[]]},{"id":"3e89e02c.09236","type":"ftp in","z":"43e9535f.87b9fc","ftp":"b5f25a46.d935c8","operation":"put","filename":"photo1.jpg","localFilename":"/home/pi/Pictures/photo1.jpg","name":"","x":447.9999885559082,"y":500.45454454421997,"wires":[["a3a834ff.3a5858"]]},{"id":"55a94e7c.5c0ee","type":"camerapi-takephoto","z":"43e9535f.87b9fc","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"8","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":357.9999809265137,"y":746.0909566879272,"wires":[[]],"inputLabels":["fileName"]},{"id":"82580dd3.6ed3f","type":"inject","z":"43e9535f.87b9fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 5-21 * * *","once":false,"onceDelay":0.1,"x":133.99999237060547,"y":752.8182106018066,"wires":[["55a94e7c.5c0ee"]]},{"id":"16917f83.aa1e6","type":"camerapi-takephoto","z":"43e9535f.87b9fc","filemode":"1","filename":"photo2.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"8","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"picture2","x":310.13634872436523,"y":595.2727279663086,"wires":[[]]},{"id":"af081a77.d33c68","type":"rpi-gpio out","z":"43e9535f.87b9fc","name":"Rst ESP32","pin":"7","set":true,"level":"0","freq":"","out":"out","x":440.0000305175781,"y":261.4545373916626,"wires":[]},{"id":"ee74b6f.edfda48","type":"ui_switch","z":"43e9535f.87b9fc","name":"","label":"switch","group":"7695d2a.55f112c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":74,"y":259.54546642303467,"wires":[["af081a77.d33c68"]]},{"id":"546603eb.bd9dfc","type":"mqtt in","z":"43e9535f.87b9fc","name":"","topic":"debug","qos":"2","broker":"91dcd821.1a2f98","x":703.8636322021484,"y":377.4545373916626,"wires":[["b9f921c7.368f"]]},{"id":"b9f921c7.368f","type":"ui_text_input","z":"43e9535f.87b9fc","name":"","label":"","group":"7695d2a.55f112c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":934.8636207580566,"y":390.7272615432739,"wires":[[]]},{"id":"80c39b17.009948","type":"ifttt-key","z":""},{"id":"21b61f7.af4d5e","type":"ui_group","name":"Group 2","tab":"67092fab.bdda1","order":1,"disp":true,"width":6},{"id":"91dcd821.1a2f98","type":"mqtt-broker","z":"","name":"Mqtt","broker":"192.168.1.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7695d2a.55f112c","type":"ui_group","z":"","name":"Default","tab":"67092fab.bdda1","order":2,"disp":true,"width":"6","collapse":false},{"id":"b5f25a46.d935c8","type":"ftp","z":"","host":"perso-ftp.orange.fr","port":"","secureOptions":"","user":"p.chaichanasiri@orange.fr","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"67092fab.bdda1","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
