JSON-MQTT
[{"id":"59898402.2078fc","type":"mqtt in","z":"954c605c.c57fd","name":"","topic":"sdkTest/sub","qos":"0","broker":"50a9a614.7eed18","x":91.8636474609375,"y":269.818208694458,"wires":[["81b4d9ff.1fcee8"]]},{"id":"a6af43ea.b14a","type":"mqtt out","z":"954c605c.c57fd","name":"AWS IOT","topic":"sdkTest/sub","qos":"","retain":"","broker":"50a9a614.7eed18","x":433.8636474609375,"y":205.00000667572021,"wires":[]},{"id":"81b4d9ff.1fcee8","type":"json","z":"954c605c.c57fd","name":"","property":"payload","action":"","pretty":false,"x":175.8636474609375,"y":359.54547119140625,"wires":[["d012cd82.355dd","a491557d.31c878","d79666ec.ff93e8","77c33a4.36c77c4"]]},{"id":"d012cd82.355dd","type":"debug","z":"954c605c.c57fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":384.0000114440918,"y":367.9090976715088,"wires":[]},{"id":"a491557d.31c878","type":"debug","z":"954c605c.c57fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":405.0000114440918,"y":322.90910148620605,"wires":[]},{"id":"b4a7c789.2cb878","type":"debug","z":"954c605c.c57fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":442.00000762939453,"y":555.9092197418213,"wires":[]},{"id":"d79666ec.ff93e8","type":"function","z":"954c605c.c57fd","name":"","func":"var msg2 = {payload : msg.payload.Temperature};\nreturn msg2;","outputs":1,"noerr":0,"x":258,"y":620.5454721450806,"wires":[["b4a7c789.2cb878","4df68f0a.e4241","c1a0b040.f9a06"]]},{"id":"4df68f0a.e4241","type":"ui_gauge","z":"954c605c.c57fd","name":"","group":"3e7cc8e3.db0b28","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":453.8636474609375,"y":688.3636474609375,"wires":[]},{"id":"c1a0b040.f9a06","type":"ui_chart","z":"954c605c.c57fd","name":"temperature","group":"3e7cc8e3.db0b28","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":478.8636474609375,"y":726.3636798858643,"wires":[[],[]]},{"id":"77c33a4.36c77c4","type":"function","z":"954c605c.c57fd","name":"","func":"var msg2 = {payload : msg.payload.Humidity};\nreturn msg2;","outputs":1,"noerr":0,"x":261.00000762939453,"y":708.0000219345093,"wires":[["d7df4726.223588","49a79f06.ec0cd","b4a7c789.2cb878"]]},{"id":"d7df4726.223588","type":"ui_gauge","z":"954c605c.c57fd","name":"Humidity","group":"3e7cc8e3.db0b28","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":478.8636474609375,"y":778.3636474609375,"wires":[]},{"id":"49a79f06.ec0cd","type":"ui_chart","z":"954c605c.c57fd","name":"","group":"3e7cc8e3.db0b28","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":479.8636474609375,"y":831.0909118652344,"wires":[[],[]]},{"id":"50a9a614.7eed18","type":"mqtt-broker","z":"","name":"AWS_IOT","broker":"a1gcytxbxjm16j-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"62ee5b21.5dfc94","clientid":"AswinRasp","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e7cc8e3.db0b28","type":"ui_group","z":"","name":"Temperature","tab":"a5e3624d.2623e","disp":true,"width":"6","collapse":false},{"id":"62ee5b21.5dfc94","type":"tls-config","z":"","name":"myESP32","cert":"/home/pi/aws-iot-device-sdk-embedded-C/certs/3f620a9937-certificate.pem.crt","key":"/home/pi/aws-iot-device-sdk-embedded-C/certs/3f620a9937-private.pem.key","ca":"/home/pi/aws-iot-device-sdk-embedded-C/certs/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"a5e3624d.2623e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
